:root {
    --main-color: #f56981;
    --secondary-color: #1f2732;
    --bg-color: #fdf7fa,
  }

  .custom-bg-primary {
    background-color: var(--main-color);
  }
  .custom-bg-secondary {
    background-color: var(--secondary-color);
  }
  .custom-bg-section {
    background-color: var(--bg-color);
  }
  .custom-text-primary {
    color: var(--main-color);
  }
  